// Third-party libraries
// NOTE: import third-party libraries here

// Application containers
@import './../containers/App/styles.css';

// Application components
// NOTE: import application components here

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
